.choropleth-map {
  width: 100%;
  position: relative; /* Needed for absolute positioning of children */
  height: 80vh; /* Adjust to your need */
  /* Add padding or margins if necessary, for example: */
  padding-right: 320px; /* Make space for the overlay */
  overflow: hidden;
}
