.left-container {
  display: flex;
  width: 76%;
}

/* Hover Interaction - POPUP */

.map-value-popup {
  background-color: rgb(44, 83, 167);
  color: rgb(44, 83, 167);
  border: 1px solid rgb(44, 83, 167);
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  width: 200px;
}
