.map-legend {
  position: absolute;
  left: 80px;
  bottom: 150px;
  background: rgb(44, 83, 167, 0.8);
  padding: 10px 0px;
  border-radius: 8px;
  z-index: 10; /* Ensure it sits above the map */
}

.legend-title {
  text-align: center;
  padding: 0;
  margin: 0;
  padding-bottom: 5px;
  border-bottom: 1px solid white;
}

.legend-category {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 4px;
  padding: 0 10px;
}

.legend-color {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  margin-right: 5px;
}

.legend-label {
  font-size: 14px;
  font-weight: bold;
}
