.right-container {
  display: flex;
  flex-direction: column;
  width: 24%;
  border-radius: 8px;
  border: 15px solid;
  border-color: rgb(44, 83, 167);
  background-color: rgb(44, 83, 167);
}

.info-box {
  background-color: white;
  height: 50%;
  padding: 10px 30px;
  border-radius: 8px;
  text-align: center;
  color: rgb(44, 83, 167);
}
.quality-indicator {
  display: flex;
  background-color: #38983b;
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 10px;
  margin-top: 20px;
}

.status-button {
  background-color: #38983b;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: light;
  border-right: 1px solid white;
  padding: 30px 15px 30px;
}

/* This section is for Progress bar */
h3 {
  font-size: 24px;
  color: white;
  margin: 0 auto;
  padding: 0;
}

.indices-container {
  margin-top: 30px;
}

.index-name {
  font-weight: bold;
  font-size: 18px;
  text-align: left;
  display: block;
}

.progress-bar-container {
  width: 100%;
  background-color: rgb(44, 83, 167);
  border-radius: 4px;
  position: relative;
  margin-bottom: 20px;
}

.progress-bar-full {
  height: 10px;
  background-color: rgb(81, 123, 214);
  border-radius: 4px;
  width: 100%;
}

.progress-bar-fill {
  height: 10px;
  background-color: rgb(20, 44, 95);
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
}

/* New styles for legend */

.legend {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.legend h4 {
  text-align: center;
  margin-bottom: 8px;
  font-size: 18px;
}

.legend-category {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.legend-color {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  margin-right: 5px;
}

.legend-label {
  font-size: 14px;
}

/* Forecasting Container */

.forecast-section {
  height: 35%;
  margin-top: 10px;
  padding: 20px 0px;
  background-color: white;
  border-radius: 8px;
}

.forecast-section h4 {
  margin-top: 15px;
  color: rgb(44, 83, 167);
}

.forecast-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
  gap: 2px;
  overflow-x: auto;
  margin-bottom: 20px;
  padding: 0 50px;
}

.forecast-square {
  width: 100%;
  min-height: 20px;
}

.bar-chart {
  display: flex;
  border: 1px solid white;
  margin-top: 10px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  height: 26%;
  padding: 0px 40px;
}
