.slopechart {
  flex: 4;
  height: 60vh;
  border: 1px solid white;
  border-radius: 5px;
}

.mybar {
  fill: rgb(100, 160, 209);
}
.one-bar {
  border: 1px solid yellow;
}

.axis text {
  font-size: 12px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #494949;
  shape-rendering: crispEdges;
}
